:root {
    --fias-color:#0066b3;
    --md-primary-fg-color: var(--fias-color);
    --md-primary-fg-color--light: var(--fias-color);
    --md-primary-fg-color--dark:  var(--fias-color);
    --md-footer-bg-color: var(--fias-color);
}

:root * {
    --md-footer-bg-color: var(--fias-color);
}

.md-typeset {
    font-size: .7rem;
    line-height: 1;
}